doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title A1
    link(rel='stylesheet', href='./css/A1.css')
  body
    h1 A1

    input#first(type='text' placeholder='First Name')
    input#last(type='text' placeholder='Last Name')
    input#movie(type='text' placeholder='Favorite Movie')
    button#go-strings Make String
    span#strings-output

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/A1.js')
