doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title A3
    link(rel='stylesheet', href='./css/A3.css')
  body
    h1 A3

    input#date(type='date')
    button#go Days From Now
    span#output

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/A3.js')
