doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title A4
    link(rel='stylesheet', href='./css/A4.css')
  body
    h1 A4
    input#string(type='text')
    button#go Random Array Cubed
    #output

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/A4.js')
